@import "./sass/bootstrap";
@import "./sass/home";
@import "./sass/about";
@import "./sass/Footer";
@import "./sass/Contact";
@import "./sass/Project";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.light-mode {
    background-color: #ffffff;
    color: #000000;
  }
  
  .dark-mode {
    background-color: #373931;
    color: #ffffff;
  }